<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800762509525-tc0nphmhpve421f0j24gqp5blrsnfsmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800762509525-tc0nphmhpve421f0j24gqp5blrsnfsmc</string>
	<key>API_KEY</key>
	<string>AIzaSyC8z_9BUDJS-RC8tRrEhFoeqmwGS5B-ync</string>
	<key>GCM_SENDER_ID</key>
	<string>800762509525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ikhwan.moodjournalapp</string>
	<key>PROJECT_ID</key>
	<string>authandroid-3957a</string>
	<key>STORAGE_BUCKET</key>
	<string>authandroid-3957a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800762509525:ios:4bbc807171d4a20ab64a5c</string>
</dict>
</plist>